<div *ngFor="let page of JSON_Template.pages" (mousedown)="selectpage(page)" >
<div class="col s12 m12" >
	<section
			*ngFor="let section of page.sections"
			(mousedown)="selectSection(section)"
			class="col s12 m12 sortable mt40 z-depth-3"
	>

			<div class="child p20 " *ngFor="let control of section.items,let i=index"
				[attr.data-order]="i+1"
				(mousedown)="selectControl(control)"
			>
				<control [data]="control" ></control>
			</div>

	</section>
</div>
</div>

<!-- <section class="main-bg">
    <header>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12 logo">
                <a href="#">
                    <img src="assets/template/images/logo.png" alt="Company Logo">
                </a>
            </div>
        </div>
    </header>
    <div class="main-section ">
        <div class="landing-page">
            <h1 class="main-head">Heading Goes here</h1>
            <h2 class="sub-head">Optional sub heading goes here</h2>
            <p class="description">
                Desription of the calculator also optional and not mandatory. Desription of the calculator also optional and not mandatory.
            </p>
            <a href="#section2" class="btn prime-action page-scroll ">Get Started</a>
        </div>
    </div>
</section> -->