
<div *ngFor="let page of defaultJson.app.pages" class="col s12 m12 z-depth-3" >
<div class="col s12 m12 sortable-section">    
	<section 
			*ngFor="let section of page.sections" 
			(click)="selectSection(section)"
			[attr.data-order]="section.order" 	
			class="col s12 m12 sortable mt30"				
	>
		 
			<div class="child p20 " *ngFor="let control of section.items" 
				[attr.data-order]="control.order"
				(click)="selectControl(control)"
			>
				<control [data]="control"></control>
			</div>
		
	</section>
</div>
</div>