
<div class="col s9 canvas" style="height:100%">
	<div id="outer-dropzone" class="dropzone" style="height:100%">
	 	<Temp 
	 		[TempName]="TempName" 
	 		(default_Template)="bind_Template_Json($event)" 	
	 		(control_selected)="onControlSelect($event)" >
	 	</Temp>
	</div>
</div>

<!--
<div class="col s3">
	<div id="yes-drop" *ngFor="let element of elements; let  i = index" class="draggable drag-drop newChild" [attr.data-type]="element"> {{element}}{{i}} </div>
		<editor *ngIf="selectedControl"
				[control]="selectedControl"
				[FullJson] = "controls"
		>	
		</editor>
</div>


<div class="col s3">{{controls|json}} </div>

-->
<div class="col s3"><a (click)="onClick(event)"><img width="150" src="../app/images/add.png"></a></div>

<div class="col s3"><editor *ngIf="selectedControl"	[control]="selectedControl" [FullJson] = "controls"	></editor></div>