<!-- Editor header start-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-padding">
        <div class="navbar-header editor-navheader col-sm-3 col-md-2">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand navbar-logopadding">
                <img src="assets/images/logo.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <input type="text" class="ed-projectname" contenteditable="true" value="This is the project name" placeholder="This is the project name" />
            <div class="navbar-rightside">
                <button type="button" class="btn btn-default btn-sm btn-flat btn-basic btn-menu"><i class="material-icons">donut_large</i></button>
                <button 
                    type="button" 
                    class="btn btn-default btn-sm btn-flat btn-basic"
                     [routerLink]="['Preview',{ name:TempName }]"
                    (click)="onPreview()"
                >
                Preview
                </button>               
                <button type="button" disabled class="btn btn-default btn-sm btn-flat btn-basic disable-btn">Publish</button>
                <div class="btn-group navbar-leftside">
                    <div class="col-xs-12 no-padding">
                        <label><i class="material-icons blue-text">account_box</i> Pratham</label>
                        <div class="btn-group">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label><i class="material-icons">help_outline</i></label>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Editor header end-->
 <!-- Editor Left sidebar start -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 editor-sidebar sidebar">
            <div class="editor-accordion">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Build</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <component-manager
                                *ngIf="controls"
                            >
                            </component-manager>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Configure</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                dfsadfsaf
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Analyze</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                sfdsfggasdf
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ed-sidebar-topsection hide">
                <span>Pages</span>
                <div class="page-add">
                    <label>Add</label>
                    <a href="javascript:void(0);"><i class="material-icons">add_circle_outline</i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Editor Left sidebar end -->

 <!-- Editor Right Template section strat -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 no-padding">
    <div class="editor-template-tabs">
        <div class="template-section" id="build">
            <Temp
                [TempName]="TempName"
                (default_Template)="bind_Template_Json($event)"
             >
            </Temp>
        </div>
    </div>
</div>
<!-- Editor Right Template section end  -->

<!--landing layout start -->
<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas affix position-right">
    <div class="sidebar-layout side-scroll">
    <editor
        *ngIf="jsonBuilderHelper.getSelectedControl()"
    >
    </editor>
    </div>
</div>
<!--landing layout end -->


