<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a 
                    [routerLink]="['Preview',{ name:TempName }]"
                    (click)="onPreview()"
                    class="disp-inline-flex"
                >
                    <i class="small material-icons">play_arrow</i>
                </a>
            </li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s3" style="height:100%">
    <component-manager 
        *ngIf="controls"
        (mouseup)="reloadView()"      
    >
    </component-manager>
    </div>
	<div class="col s6" style="height:100%">
	 	<Temp 
	 		[TempName]="TempName" 
	 		(default_Template)="bind_Template_Json($event)"
         >
	 	</Temp>
	</div>

	<div class="col s3" style="height:100%">
    <a *ngIf="jsonBuilderHelper.getSelectedControl()" (click)="jsonBuilderHelper.deleteControl()" class="right" href="javascript:void(0);">delete Item</a>
        <div class="">    
    		<editor 
    			*ngIf="jsonBuilderHelper.getSelectedControl()"
    		>	
    		</editor>
        </div>
        <div class="mt20" >

            <switch 
                *ngIf="jsonBuilderHelper.getSelectedControl()"
            >
            </switch>
        </div>
		<div> <pre>{{controls | json}}</pre> </div>
	</div>
</div>

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a (click)="onClick(event)" class="" href="#">
                <div class="chip">
                    Question
                </div>
            </a>
        </li>
        <li>
            <a class="" href="#">
                <div class="chip">
                    Control
                </div>
            </a>
        </li>
        <!-- <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
    </ul>
</div>