<div class="row">
	<div class="col s9" style="height:100%">
	 	<Temp 
	 		[TempName]="TempName" 
	 		(default_Template)="bind_Template_Json($event)" 	
	 	    (component_selected)="onComponentSelect($event)"
         >
	 	</Temp>
	</div>

	<div class="col s3" style="height:100%">
    <a *ngIf="selectedComponent" (click)="removeControl()" class="right" href="javascript:void(0);">delete Item</a>
        <div class="">    
    		<editor 
    			*ngIf="selectedComponent"
    			[component_selected]="selectedComponent"
    		>	
    		</editor>
        </div>
        <div class="mt20" >

            <switch 
                *ngIf="selectedComponent"
                [component_selected]="selectedComponent"               
                (control_selected)="changeControl($event)" 
            >
            </switch>
        </div>
		<div> <pre>{{controls | json}}</pre> </div>
	</div>
</div>

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a (click)="onClick(event)" class="" href="#">
                <div class="chip">
                    Question
                </div>
            </a>
        </li>
        <li>
            <a class="" href="#">
                <div class="chip">
                    Control
                </div>
            </a>
        </li>
        <!-- <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
    </ul>
</div>
