<div class="panel-body panel-scroll">
    <div class="ed-sidebar" 
        *ngFor="let page of templateJson.pages" 
        (mousedown)="jsonBuilderHelper.setSelectedPage(page)"
        (click)="selectModel('Page')"
    >
        <a href="javascript:void(0)">{{page.type}}</a>
        <div 
            class="ed-sidebar-questions-sub"
            *ngFor="let section of page.sections,let s=index" 
        >
            <a 
                href="#" 
                class="sub-head"
            >
                 {{page.type}}
            </a>          
            <!-- section type -->
            <ul  
                class="sortable1"
                [attr.data-section]="s+1"
                (mousedown)="jsonBuilderHelper.setSelectedSection(section)"
            >
                <li 
                    *ngFor="let control of section.items,let i=index" 
                    [attr.data-order]="i+1"
                    (mousedown)="selectControl(control)"
                    (click)="selectModel('Control')"
                >
                    <a href="#" class="ellipsis head">{{control.type}}</a>
                    <a 
                        href="javascript:void(0);" 
                        class="sublist-action" 
                        title="Duplicate"
                        (click)="jsonBuilderHelper.duplicateControl()"
                    >
                        <i class="material-icons">filter_none</i>
                    </a>
                    <a 
                        href="javascript:void(0);" 
                        class="sublist-action"  
                        (click)="jsonBuilderHelper.deleteControl()" 
                        title="Delete"
                    >
                        <i class="material-icons">clear</i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>