<div class="panel-body panel-scroll">
    <div class="ed-sidebar" 
        *ngFor="let page of templateJson.pages" 
        (mousedown)="jsonBuilderHelper.setSelectedPage(page)" 
    >
        <a href="javascript:void(0)">{{page.type}}</a>
        <div 
            class="ed-sidebar-questions-sub"
            *ngFor="let section of page.sections,let s=index" 
        >
            <label
            >
            {{page.type}}
            </label> 
            <!-- section type -->
            <ul  
                class="sortable1"
                [attr.data-section]="s+1"
                (mousedown)="jsonBuilderHelper.setSelectedSection(section)"
            >
                <li 
                    *ngFor="let control of section.items,let i=index" 
                    [attr.data-order]="i+1"
                    (mousedown)="selectControl(control)"
                >
                    <span class="ellipsis">{{control.type}}</span>
                    <a href="javascript:void(0);" class="sublist-action" title="Duplicate"><i class="material-icons">filter_none</i></a>
                    <a href="javascript:void(0);" class="sublist-action"  (click)="jsonBuilderHelper.deleteControl()"  title="Delete"><i class="material-icons">clear</i></a>
                </li>
            </ul>
        </div>

    </div>
</div>